<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638604049993-mnkreorlktanbh5dlna19krtltigbmc6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638604049993-mnkreorlktanbh5dlna19krtltigbmc6</string>
	<key>API_KEY</key>
	<string>AIzaSyAx9IZwy-op2mW146QL9lysjy4IiPxL2B8</string>
	<key>GCM_SENDER_ID</key>
	<string>638604049993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.commons.commons</string>
	<key>PROJECT_ID</key>
	<string>commons-81ace</string>
	<key>STORAGE_BUCKET</key>
	<string>commons-81ace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638604049993:ios:4247cd4e1d03632b7a4998</string>
</dict>
</plist>